body {
    color: rgb(119, 187, 113);
    background-color: rgb(12, 10, 10);
    margin: 0px;
    font-family: "Anton", sans-serif;
    margin-bottom: 100pX;

}
header {
    border-bottom: solid 2px rgb(14, 216, 31);
    padding: 20px;
    font-size: 100px;
    color: rgba(18, 158, 25, 0.959);
}

.chamada {
    background: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
    font-size: 80px;
}
p {
    font-size: 40px;
    
}
 img {
    height:250px;
 }
 
 .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }
 .categoria {
    padding-left: 20px;
    padding-right: 20px;
 }
 .categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid green;
}
.categoria h2 {
    color: rgb (42,122, 288);
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }